[package]
name = "roam-shm"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
description = "Shared-memory transport binding implementation"

[package.metadata]

[package.metadata."docs.rs"]
rustdoc-args = ["--html-in-header", "arborium-header.html"]

[dependencies]
tokio.workspace = true
tracing.workspace = true

roam-wire = { path = "../roam-wire", version = "0.5.0" }
shm-primitives = { path = "../shm-primitives", version = "0.5.0" }
